/* Dash Board  Start */
.message_admin, .feedback_main{
	padding: 10px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	margin-bottom: 20px;
	font-size: 12px;
}
.message_admin h3, .feedback_main h3 {
	margin-top: 0;
	font-size: 14px;
	color:#5b8ab5;
	font-weight: bold;
}
.message_admin {
	background: #dcfafb;
}

.feedback_main {
	background: #d5dfe9;
}
.note_main {
	border-bottom: 1px dotted #000;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.note_main p {
	margin: 0;
	padding: 0;
}
.feedback_main .note_main:last-child {
	border:none;
	margin: 0;
	padding: 0;
}
.feed_name {
	text-transform:capitalize;
}
.feed_name:before {
	content: "-"
}
.face_book_block, .twitter_block {
	margin-bottom: 20px;
}

.face_book_block {
	margin-top: 20px;
}
.right-sidebar, .middle_section {
	margin-top: 30px;
}

.find_ride_form {
	background: url('../images/find_ride_bg.jpg') no-repeat;
	padding: 10px 15px 20px;
	background-size:100% 100%;
}
.user_message_main {
	margin-bottom: 40px;
}
.user_message_main h2 {
	font-size: 18px;
	margin-bottom: 10px;
}
.post_message textarea, .comment_post_txt {
	width: 100%;
	border:1px solid #cccccc;
	font-size: 12px;
	padding: 5px;
	height: 100px;
	border-bottom: none;
}
.post_button {
	background: #dfdbd4;
	padding:10px;
	text-align: right;
	margin-top: -1px;
}
.post_button .post_btn {
	background: #150b0b;
	color:#ffffff;
	border:none;
	padding: 5px 15px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.post_button .post_btn:hover {
	background: #f37230;
}
.user_list {
	background: #f5f5f5;
	padding: 20px;
	margin-bottom: 10px;
}
.user_image {
    float: left;
    margin-right: 6px;
    width: 20px;
}
.user_details {
    float: left;
    width: 94%;
}
.user_details p {
	margin: 0;
}
.user_details .name {
	color:#5b8ab5;
	font-weight: bold;
}
.user_i_n {
	overflow: hidden;
}
.n_des {
	border:1px solid #cccccc;
	background: #fff;
	padding: 10px;
	margin: 10px 0;
}
.middle_section {
	color:#555555;
}
.comments_head {
	color:#5b8ab5;
	text-decoration: underline;
	margin-bottom: 20px;
}
.lr_space {
	padding: 0 25px;
}
.user_cmm {
	clear:both;
	margin-bottom: 10px;
	overflow: hidden;
}
.comment_post_txt {
	border-bottom: 1px solid #cccccc;
	height: 60px;
}
.reply {
	text-align: right;
	padding-top: 5px;
}
.reply a {
	text-decoration: underline;
}
.reply a:hover {
	text-decoration: none;
}
.view_msg {
	text-align: center;
	padding: 10px 0;
}
.rides_name {
	float: left;
	width: 44%;
}
.riders_list .street_name {
	width: 170px;
}
.riders_list h2{
	font-size:24px;
	color:#000;
}
.riders_list .re_ben_fed{
	padding: 30px 20px 10px;
	min-height: auto;
}
.middle_section .riders_list {
	margin-bottom: 10px;
}

/* Dash Board  End */


/* media queries starts */
@media (max-width: 1200px) {
  .rides_name {
    float:none;
    width: 100%;
    margin-bottom: 10px;
  }
}