body {
	font-family: 'PT Sans', arial;
	color:#000;
}
a {
	color:#5b8ab5;
}
/* Fonts */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(../fonts/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}

/* Header Css Start Here */
header {
	 padding: 10px 0;
	 background-color: #ececec; 
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#ececec)); /* Safari 5.1, Chrome 10+ */ 
	 background: -webkit-linear-gradient(top, #ffffff, #ececec); /* Firefox 3.6+ */ 
	 background: -moz-linear-gradient(top, #ffffff, #ececec); /* IE 10 */ 
	 background: -ms-linear-gradient(top, #ffffff, #ececec); /* Opera 11.10+ */ 
	 background: -o-linear-gradient(top, #ffffff, #ececec);
	 border-bottom: 1px solid #6c6c6b;
}
.top_links {
	text-align: right;
}
.login_register ul {
	list-style-type: none;
	margin:0;
	padding: 0;
}
.login_register ul li {
	display: inline-block;
	border-right:1px solid #5b8ab5;
	padding: 0 10px;
	line-height: 14px;
}
.login_register ul li:last-child {
	padding-right: 0;
	border:none;
}
.post_ride a{
	background-color: #121212; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777777), to(#121212)); /* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #777777, #121212); /* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #777777, #121212); /* IE 10 */ 
	background: -ms-linear-gradient(top, #777777, #121212); /* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #777777, #121212);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding: 2px 15px;
    text-transform: uppercase;;
}
.post_ride a:hover {
	text-decoration: none;
	background-color: #dc4d04; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1702d), to(#dc4d04)); /* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #f1702d, #dc4d04); /* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #f1702d, #dc4d04); /* IE 10 */ 
	background: -ms-linear-gradient(top, #f1702d, #dc4d04); /* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #f1702d, #dc4d04);
}
.post_ride {
	margin-top: 10px;
}
/* Header Css End Here */


/* Recent Post Rides Benefits Feedback Css Start Here */
.re_be_fe_main h2 {
	text-align: center;
}
.re_ben_fed {
	border:1px solid #d7d7d7;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	min-height: 260px;
	padding: 30px 10px 10px;
}
.recent_post_main {
	background: #f1f1f1;
}
.l_r_arrow {
    float: left;
    text-align: center;
    width: 44px;
}
.street_name {
    float: left;
    width: 158px;
}
.re_be_fe_main {
	font-size: 13px;
	clear: both;
}
.tpad10 {
	padding-bottom: 15px;
}
.re_be_fe_main h2 {
	font-size: 24px;
	color:#000;
}
.why_to_use {
	font-size: 18px;
	color:#5b8ab5;
}
.why_to_use .head {
	font-size: 36px;
    margin-bottom: 15px;
    margin-top: -20px;
    text-align: center;
}
.why_to_use ul {
	list-style-type: none;
	font-style: italic;
	margin: 0;
    padding: 0 0 0 20px;
}
.why_to_use ul li {
	margin-bottom: 5px;
}
.re_ben_fed li:before {
    color: #f37230;
    content: url(../images/green_check_mark.png);
    font-family: FontAwesome;
    font-style: normal;
    padding-right: 8px;
}
.why_to_use .re_ben_fed {
	background: url('../images/why_to_use.jpg') no-repeat bottom right;
}
/* Recent Post Rides Benefits Feedback Css End Here */


/* Footer Start Here */
footer {
	background: #dfdbd4;
	padding: 20px 0;
	margin: 20px 0 0;
}	
.about_us p {
	line-height: 25px;
}
.footer_links {
	border-right:1px solid #ece9e4;
	margin-left: 25%;
}
.footer_links ul {
	list-style-type: none;
	margin: 55px 0 0; 
	padding: 0;
	font-size: 18px;
}
.footer_links ul li {
	padding-bottom: 10px;
}
.footer_links ul li a{
	color:#000000;
}
.social_icons ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.social_icons ul li { 
	display: inline-block; 
	font-size: 30px; 
	margin-right: 5px; 
}
.follow_us h3 {
	float: left;
	width: 130px;
}
.social_icons {
	float: left;
	margin-top: 10px;
}
.news_letter_main {
	clear: both;
	margin-top: 15px;
}
.news_letter_main h3 {
	float: none;
	width: inherit;
	color:#363636;
}
.news_letter_main input[type="text"] {
	width: 75%;
	padding: 6px 10px;
	border:none;
	font-size: 15px;
	margin-right: 10px;
}
.follow_us {
	margin-left: 50px;
}
.news_letter_main input[type="button"], 
.submit_btn, .page_submit input[type="button"],
 .search-btns input[type="button"], 
 .btns-wrapper button.btn-accept, 
 .modal_rmusr .modal-footer .btn-primary, .sav_btn {
	background-color: #dc4d04; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1702d), to(#dc4d04)); /* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #f1702d, #dc4d04); /* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #f1702d, #dc4d04); /* IE 10 */ 
	background: -ms-linear-gradient(top, #f1702d, #dc4d04); /* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #f1702d, #dc4d04);
	border:none;
	color: #ffffff !important;
	vertical-align: top;
	
}
.news_letter_main input[type="button"], 
.submit_btn, .page_submit input[type="button"],
.search-btns input[type="button"], 
.btns-wrapper button.btn-accept {
	font-size: 18px;
	padding: 4px 10px;
	text-transform: uppercase; }
.news_letter_main input[type="button"]:hover, .submit_btn:hover, .btns-wrapper button.btn-accept:hover, .sav_btn:hover {
	background-color: #121212; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777777), to(#121212)); /* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #777777, #121212); /* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #777777, #121212); /* IE 10 */ 
	background: -ms-linear-gradient(top, #777777, #121212); /* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #777777, #121212);
	color: #fff;
}
.social_icons a {
	color:#3e668f;
}
/* Footer End Here */



/* owl-carousel start here */
.re_ben_fed #owl-demo .item{
	padding: 23px 0px;
	margin: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.re_ben_fed .customNavigation{
	text-align: center;
}

.re_ben_fed .customNavigation a{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.re_ben_fed .owl-carousel .owl-item {
	float: left;
}
.feed_back_form {
    font-size: 14px;
    line-height: 23px;
    padding-left: 50px;
    padding-right: 30px;
}
.feed_back_form:before, .feed_back_form:after {
    content: "\f10d";
    font-family: FontAwesome;
    color:#5b8ab5;
    font-size: 30px;
    left: 17px;
    position: absolute;
}
.feed_back_form:after {
	right: 20px;
	left: inherit;
	bottom: 30px;
	content: "\f10e";
}
.feed_back_form p:last-child {
	margin: 0;
	padding: 0;
}
.re_ben_fed .owl-controls {
    margin-top: 0;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 0px;
}
.re_ben_fed .owl-theme .owl-controls .owl-page span {
	width: auto;
	height: auto;
	background: transparent;
}
.re_ben_fed .owl-theme .owl-controls .owl-page:first-child span:before {
	content:"\f104";
	font-family: FontAwesome;
}
.re_ben_fed .owl-theme .owl-controls .owl-page:last-child span:before {
	content:"\f105";
	font-family: FontAwesome;
}
.re_ben_fed .owl-page {
	font-size: 23px;
}
/* owl-carousel End here */

/* Banner Start Here */
.banner_form {
  border-bottom: 1px solid #ffffff;
  -moz-box-shadow: 3px 3px 29px 6px #ccc;
  -webkit-box-shadow: 3px 3px 29px 6px #ccc;
  box-shadow: 3px 3px 29px 6px #ccc;
  float: left;
  margin-bottom: 20px;
}
.banner_form .col-md-8, .banner_form .col-md-4 {
	padding: 0;
}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
	left: 20%;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
	right: 20%;
}
.carousel-control.right, .carousel-control.left  {
	background-image: inherit
}
.banner_form .glyphicon-chevron-left:before, .banner_form .glyphicon-chevron-right:before {
 	color:#000000;
 	font-family: FontAwesome;
}
.banner_form .glyphicon-chevron-left:before {
	 content:"\f104";
}
.banner_form .glyphicon-chevron-right:before {
    content:"\f105";
}
.banner_form .carousel-control {
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
}
.banner_form .carousel-control {
	opacity: 1;
}
.banner .item img {
	width: 100%;
}
.carousel-indicators li {
	background: #464646;
	border:none;
}
.carousel-indicators .active {
	background: #f7941d;

}
/* Banner End Here */


/* Find a Ride Form Start Here */
.find_ride_main {
	background: url('../images/find_ride_bg.jpg') no-repeat;
	padding: 20px 30px 30px;
	background-size:100% 100%;
}
.finda_ride_steps img {
	width: 100%;
}
.ride_form {
	margin-top: 20px;
	overflow: hidden;
}
.ride_form input[type="text"], .ride_form select {
	width: 100%;
	margin-bottom: 15px;
	padding: 5px 10px;
}
.ride_form input[type="button"] {
	float: right;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 3px 35px;
}
/* Find a Ride Form End Here */
 .bs-example{
    border: 1px solid #999;
    border-radius: 7px;
    clear: both;
    margin: 30px 0 ;
    float: left;
    width:100%;
    }
    .ItemHeader {
    background: url("../images/titleBarBckg.png") repeat scroll 0 0 #404040 !important;
    border-radius: 7px 7px 0 0;
    height: 36px;
    margin-top: -1px;
}
.ItemHeader span.ProfileHeader {
    color: #efefef;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    padding: 0 0 0 15px;
}
.bs-example .form-horizontal{padding: 0px 15px;}
.form_section_title{color: #5b8ab5;padding-bottom: 20px; font-size: 14px; text-transform: uppercase; font-weight: 700;}
.bootstrap-select.btn-group .btn .caret{color: #ccc;}
.map-button {
    float: left;
    /*margin-left: 20px;
    margin-right: -4px;*/
}

.map-button a {
    background: url("../images/mapicon.png") no-repeat scroll center center transparent;
    border-radius: 3px;
    display: block;
    font-size: 0;
    height: 30px;
    line-height: 0;
    white-space: nowrap;
    width: 35px;
}
.map-button a:hover {
    background-size: 24px auto;
}
.loc-text-wrap input[type="text"], button.checkpoints{
	background: url("../images/controlarrows.png") no-repeat scroll #fff;
	background-position: 94% -19px;
}
.btn-group, button.checkpoints{width:100%; background-position: 97% -19px;}
.file-wrapper {
cursor: pointer;
display: inline-block;
overflow: hidden;
position: relative;
}
.file-wrapper input {
cursor: pointer;
font-size: 100px;
height: 100%;
filter: alpha(opacity=1);
-moz-opacity: 0.01;
opacity: 0.01;
position: absolute;
right: 0;
top: 0;
}

.photo-label{line-height: 6; float: left;}
.form-section-wrapper{float: left; width: 100%; padding-top: 15px;}
.page_submit{float: left; width: 100%; padding: 20px 0;}
sup.required{ 
   color:red;
   font-size: 20px;
   font-weight: normal;
   top: 0;

}
#header_label{text-transform: uppercase;}
.input-group[class*="col-"]{float: left; padding-left: 15px; padding-right: 15px;}
.ride_details_main .input-group[class*="col-"]{padding-right: 0px;}
a.info {
     background-color: #e0e0e0;
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    padding: 4px;
    text-decoration: none;
    vertical-align: middle;
    width: 25px;
    cursor: help;
}
a.info span{
 	border: medium none;
    border-radius: 50%;
    color: #000000;
    cursor: help;
    display: block;
    font-size: 14px;
    height: 100%;
    text-align: center;
    }
a.info.dob{margin-top: 5px;}
.form-group label{font-size: 13px;}
hr{border-color: #ccc; float: left; width: 100%; margin: 35px 0 0;}
div.req-section{border-bottom: 1px solid #cccccc; float: left; width: 100%; padding: 4px 0 0;}
div.req-section p{margin: 0; font-style: italic; font-size: 12px; color: #666666;}
.page_submit input[type="button"], .search-btns input[type="button"]
{
	border-radius: 5px; 
    text-transform: capitalize;
}
.page_submit input[type="button"]{float: right;}
.human {
    clear: both;
    color: #2d90e8;
    font-size: 16px;
    text-transform: uppercase;
}
span.slide-submit {
    clear: both;
    color: #737276;
    font-size: 14px;
    font-style:italic;
    font-weight: normal;
}

.QapTcha {
  margin-top: 7px;
}

.page-user-register .QapTcha .bgSlider {
    width: 275px !important;
}
.QapTcha .bgSlider {
    background-color: #101010;
    border: 1px solid #040404;
    float: left;
    height: 37px;
    width: 252px;
}
.QapTcha .bgSlider {
    width: 100% !important;
}
.QapTcha .bgSlider {
    height: 37px;
    width: 185px;
}
.QapTcha .bgSlider {
    background-color: #e2f1ff !important;
    border: 1px solid #c6e0f7 !important;
    float: left;
    height: 47px !important;
    width: 100%;
}
.QapTcha .Slider {
    background: url("../images/bg_draggable_qaptcha.png") no-repeat;
    height: 45px !important;
}
.captcha_section label{float: left;}
.nopadding{padding: 0;}
.route-selection .btn{
	border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.veh-type .btn-group{margin-bottom: 20px;}
.tab-content{display: none;}
#oneway{display: block;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #fff;
    border-color: #008540;
    color: #f37230;
}
.btn-primary{
	background-color: #f6f6f6;
	color: #5b8ab5;
	border-color: #cccccc;
}
.details-types{margin-bottom: 20px;}
.btn-info {
    background-color: #7ca1c4;
    border-color: #7dabd6;
    color: #fff;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info
{
	background-color: #5b8ab5;
    border-color: #457fb3;
    color: #fff;
}

.btn-info.disabled, .btn-info[disabled], .btn-info.disabled:hover, .btn-info[disabled]:hover,.btn-info.disabled:focus, .btn-info[disabled]:focus, .btn-info.disabled:active, .btn-info[disabled]:active, .btn-info.disabled.active, .btn-info.active[disabled]
{
	background-color: #7ca1c4;
    border-color: #7dabd6;
}
.start-icon{color: #1d79bf;}
.dest-icon{color: #48b75a;}
.route-icon{color: #f37230;}
.search-btns{text-align: right;}
.adv-srh{display: block; width: 100%;text-align: right; }
.adv-srh i{padding-right: 10px;}
.adv-srh a{text-decoration: underline;}
hr.adv-srch-end{padding-bottom: 15px;}
.results_grid td button.btn-primary
{
	background-color: #dc4d04; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1702d), to(#dc4d04)); /* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #f1702d, #dc4d04); /* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #f1702d, #dc4d04); /* IE 10 */ 
	background: -ms-linear-gradient(top, #f1702d, #dc4d04); /* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #f1702d, #dc4d04);
	color: #ffffff;
	text-transform: capitalize;
	border: none;
 }
 .table > thead > tr > th{
 	border: none; background-color: #5b8ab5; color: #fff;
}
.diff-dir{
	background: url("../images/diff-dir.png") no-repeat center top;
	width: 18px;
	height: 14px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.same-dir{
	background: url("../images/same-dir.png") no-repeat center top;
	width: 18px;
	height: 14px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.table-responsive {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
}
a.user-icon{
	background: url("../images/users-icon.png") no-repeat center top;
	width: 22px;
	height: 18px;
	display: block;
	}

/*header .iconset{
	 display: inline-block;
    float: left;
    margin: 15px 10px;
}*/
.popover {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(86, 96, 117, 0.15);
    max-width: 350px;
    z-index: 999;
}
.popover.bottom .arrow:after {
    margin-left: -11px;
    top: 0;
}
.popover .arrow:after {
    border-width: 11px;
}
.header .popover-title {
    border-bottom: 0 none;
    padding-top: 14px;
}
.popover-title {
    background-color: #ffffff;
    color: #505458 !important;
    font-weight: bold;
    margin: 0 5px;
    text-align: center;
    border-bottom: 0;
    padding: 16px 14px 0px;
}
.popover-content {
    font-size: 13px;
    padding: 9px 14px 16px;
}
.notification-messages {
    background-color: #edf7fc;
    color: #8b91a0;
    display: block;
    padding: 15px 18px 10px;
}
.notification-messages.info:hover {
    background-color: #d8ebf4;
    cursor: pointer;
}
.notification-messages .user-profile {
    border-radius: 100px;
    display: inline-block;
    float: left;
    height: 35px;
    margin-right: 10px;
    margin-top: 2px;
    overflow: hidden;
    width: 35px;
}
.notification-messages .message-wrapper {
    display: inline-block;
    height: 43px;
    width: 70%;
}
.notification-messages .message-wrapper .heading {
    color: #1b1e24;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: break-all;
}
.notification-messages .message-wrapper .description {
    display: block;
    float: left;
    font-size: 11px;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: break-all;
}
.notification-messages .date {
    display: inline-block;
    font-size: 11px;
    font-style: italic;
    line-height: 15px;
    opacity: 0.4;
}
a.message-icon{
	background: url("../images/message-icon.png") no-repeat center top;
	width: 21px;
	height: 19px;
	display: block;
}

a.notifications-icon{
	background: url("../images/notifications-icon.png") no-repeat center top;
	width: 19px;
	height: 20px;
	display: block;
}


ul.header_links{
	list-style: none; 
	height: 22px;
    margin: 10px 0 10px 5px;
}
ul.header_links > li{
	float: left; 
	display: block;
	 height: 22px; 
	 line-height: 22px;
	 height: 22px;
    margin: 10px 0 10px 16px;
}
.header_links > li.quicklinks > .dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 9px;
    top: -7px;
}
.header_links > li.quicklinks > .dropdown-menu:after {
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: -6px;
}
.dropdown-menu li {
    padding-left: 0;
}
.dropdown-menu > li > a {
    border-radius: 3px;
    color: #2a2e36;
    line-height: 25px;
    margin: 4px;
    text-align: left;
}
.dropdown-menu .divider {
    background-color: #eaedf0;
    border-bottom: 0 none;
    height: 1px;
    margin: 3px 0;
}
header .header_links > li.quicklinks i {
    color: #656565 !important;
    display: inline-block;
    font-size: 14px;
    margin: 0;
}
ul.header_links li.user-details{margin-left: 50px;}
.profile-name {
    display: inline-block;
    max-width: 175px;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 0;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    vertical-align: middle;
}
.quicklinks .caret
{
	border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid;
}
.ntfctn_lst, .mesg_lst, .usr_lst{
list-style: none;
 padding: 0;
 border-top: 1px solid #aaaaaa;
 border-bottom: 1px solid #aaaaaa;

   }
.ntfctn_lst li, .mesg_lst li, .usr_lst li{ 
 	width: 300px;
 	border-bottom: 1px solid #dddddd;
 }
.ntfctn_lst li:last-child, .mesg_lst li:last-child, .usr_lst li:last-child 
{ 
	border-bottom: none;
}
.mesg-list-header{text-align: right;}
h3.header-title{
	color: #505458 !important;
	font-weight: bold;
	margin: 0 5px;
	padding: 6px 14px 12px;
	text-align: center;
	line-height: 18px;
	 font-size: 14px;
}
h3.sub-usr-ttl{padding: 16px 14px 12px;}
.usr_lst.sbcbr_lst .notification-messages{background-color:#eeedec; }
.usr_lst .notification-messages{background-color:#efedea;}
.usr_lst.sbcbr_lst .notification-messages.info:hover {
    background-color: #ebe9e5;
    cursor: pointer;
}
.usr_lst .notification-messages.info:hover{background-color:#ebe9e5 !important;}
.btns-wrapper{float: right; display: inline-block; text-align: right;}
.btns-wrapper button{vertical-align: middle; display: inline-block;}
.user-profile-name{display: block; float: left; vertical-align: middle; overflow: hidden;}
.btns-wrapper button.btn{border-radius: 0; font-size: 12px; text-transform: capitalize; margin-left: 8px;}
.btns-wrapper button.btn-white{padding: 3px 10px; color: #4e5665;}
.remove-btn{display:none; float: right; padding: 0 2px 0 0; text-align: right; color: #7c7a7a;}
.user-sbscr li:hover .remove-btn, #userlist li:hover .remove-btn { display:block; }
.btns-wrapper .mesg-btn{margin-right: 25px;}
.modal_rmusr .modal-dialog{width: 390px;}
.modal_rmusr .modal-header{background: #f5f6f7; border-radius: 6px 6px 0 0;}
.modal_rmusr .modal-title{text-align: center;}
h3.mdlcont-title{  
	color: #141823;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}
.modal_rmusr .modal-footer .btn{font-size: 13px;}
form.acnt_stngs .panel-default, #faqs-main .panel-default {
    border: 0 none;
}
form.acnt_stngs .panel, #faqs-main .panel  {
    background-color: transparent;
    box-shadow: none;
}
form.acnt_stngs .panel-heading, #faqs-main .panel-heading {
    background-image: none;
    border-radius: 2px;
    box-shadow: none;
}
form.acnt_stngs .panel-title > a, #faqs-main .panel-title > a {
    color: #505458;
    display: block;
    font-size: 13px;
    font-weight: normal;
}

form.acnt_stngs .panel-heading .panel-title > a:after,
#faqs-main .panel-heading .panel-title > a:after
 {
  font-family: 'FontAwesome';
  content: "\f056";
  float: right;
  color: #505458;
}
form.acnt_stngs .panel-heading .panel-title > a.collapsed:after,
#faqs-main .panel-heading .panel-title > a.collapsed:after {
  content: "\f055";
  color: #8E9AA2;
}

form.acnt_stngs .panel-heading .panel-title > a.collapsed,
#faqs-main .panel-heading .panel-title > a.collapsed {
    color: #8e9aa2;
}
form.acnt_stngs .panel-title > a:hover:after, form.acnt_stngs .panel-title > a:hover,
#faqs-main .panel-title > a:hover:after, #faqs-main .panel-title > a:hover {
    color: #505458 !important;
}
a, a:focus, a:hover, a:active {
    outline: 0 none;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.sec_sttng .panel-heading .panel-title > a.collapsed:after {
  content: "\f055" !important;
  color: #8E9AA2;
}
.sec_sttng .panel-heading .panel-title > a:after {
  font-family: 'FontAwesome';
  content: "\f056" !important;
  float: right;
  color: #505458;
}
.acSettingsEditorLabel strong{font-size: 13px; color: #333333;}
.settings_account_email .data label{font-size: 13px;}
.sec_sttng .panel-body hr{margin:15px 0;}
.col-md-3.data{text-align: right;}
.new-emailinput{padding-bottom:30px; }
.actn-sett-btns{margin-top: 30px;text-align: center;}
.actn-sett-btns .sav_btn{vertical-align: middle;}
.actn-sett-btns .btn-sm{font-size: 13px;}
.actn-sett-btns .sav_can{background:#cfcfcf;}
ul.radio-btn-list{padding-left: 20px;}
ul.norms-list li{padding-top: 7px;}
.new_mesg_wrapper{padding: 10px; border-bottom: 1px solid #ccc;}
.mesg_label{color: #9197a3; font-size: 14px;line-height: 24px; vertical-align: middle; word-wrap:break-word; float: left;}
.uiTokenizer{min-height: 24px;  overflow: hidden; font-size: 14px; cursor: text;}
.uiInlineTokenizer .tokenarea {
    padding-left: 2px;
}
.uiInlineTokenizer .uiToken{top:2px;}
.uiToken {
    background: none repeat scroll 0 0 #5b8ab4;
    border: 1px solid #9daccc;
    border-radius: 3px;
    color: #ffffff;
    cursor: default;
    display: block;
    float: left;
    margin: 0 4px 4px 0;
    padding: 4px 6px;
    position: relative;
    white-space: nowrap;
}
.uiToken .remove {
    left: 1px;
    margin: 0;
    outline: medium none;
    position: relative;
    top: 2px;
}
.uiCloseButton{
	cursor: pointer;
	display: inline-block;
}
.uiTypeahead{top:1px; margin-left: 4px; border:0 none; float: left; cursor: default; position: relative; }
.uiTypeahead .innerWrap{overflow: hidden;}
.uiTypeahead .textInput {
    background-color: transparent;
    border: 0 none;
    box-sizing: border-box;
    outline: 0 none;
    margin: 0;
    padding-bottom: 4px;
    font-size: 14px;
}
.tokenarea .glyphicon-remove{color: #fff;}
.wrt-mesg, .message-comp-wrapper .btns-wrapper{padding:10px; }
.custom-nav > li.menu-list > a, .navbar-default .navbar-nav > li.menu-list > a {
    background: url("../images/plus-grey.png") no-repeat scroll 93% center transparent;
}
.custom-nav > li > a {
    border-radius: 0;
    padding: 12px 20px;
}
.custom-nav li .fa {
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 16px;
}
.custom-nav > li.menu-list > a:hover,.navbar-default .navbar-nav > li.menu-list > a:hover {
    background-color: #353f4f;
    background-image: url("../images/plus-orange.png");
}
.custom-nav > li > a:hover,.navbar-default .navbar-nav > li > a:hover, .custom-nav > li > a:active,.navbar-default .navbar-nav > li > a:active {
    background-color: #353f4f;
    border-radius: 0;
    color: #F37230;
}
.custom-nav .sub-menu-list, .navbar-nav .sub-menu-list{
    background: none repeat scroll 0 0 #353f4f;
    display: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.custom-nav .sub-menu-list > li.active > a, .navbar-nav .sub-menu-list > li.active > a  {
    background-color: #2a323f;
    color: #65cea7;
}
.custom-nav .sub-menu-list > li > a, .navbar-nav .sub-menu-list > li > a {
    color: #fff;
    display: block;
    font-size: 13px;
    padding: 10px 5px 10px 50px;
    transition: all 0.2s ease-out 0s;
}
.custom-nav .sub-menu-list > li > a:hover, .custom-nav .sub-menu-list > li > a:active, .custom-nav .sub-menu-list > li > a:focus,
.navbar-nav .sub-menu-list > li > a:hover, .navbar-nav .sub-menu-list > li > a:active, .custom-nav .sub-menu-list > li > a:focus
 {
    background: none repeat scroll 0 0 #2a323f;
    color: #f37230;
    text-decoration: none;
}
.custom-nav .sub-menu-list > li > a, .navbar-nav .sub-menu-list > li > a {
    color: #fff;
    display: block;
    font-size: 13px;
    padding: 10px 5px 10px 50px;
    transition: all 0.2s ease-out 0s;
}
.left-side-collapsed .custom-nav ul, .left-side-collapsed .custom-nav .menu-list.nav-active ul {
    display: none;
}
.custom-nav > li.nav-active > ul {
    display: block;
}
.custom-nav > li.nav-active.active > a:hover {
    background-image: url("../images/minus.png");
}
.custom-nav > li.nav-active.active > a {
    background-image: url("../images/minus.png");
}
.custom-nav > li.nav-active > a:hover {
    background-image: url("../images/minus.png");
}
.custom-nav > li.nav-active > a, .navbar-nav > li.nav-active > a {
    background-color: #353f4f !important;
    background-image: url("../images/minus.png") !important;
    color: #F37230 !important;
}
.toggle-btn{display: none;}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
    background-color: #353f4f;
    border-radius: 0;
    color: #f37230;
}
.hero-unit{padding: 0 15px 15px;}
.contactus_form{margin: 0 0 25px;}
#divMain hr {
    border-color: #cccc;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 20px;
    margin-top: 20px;
}
#divMain img {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    width: auto;
}
.img-polaroid {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 4px;
}
.sidebar.aboutus-sidebar {
    padding-top: 25px;
}
.sidebox {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    box-shadow: none;
    color: rgb(51, 51, 51);
    line-height: 24px;
    margin-top: 26px;
    padding: 18px;
    background-color: #f8f8f8;
}

.sidebox-title {
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 40px;
}
#faqs-main .form_section_title{ text-transform: capitalize;}
h1.page-header{font-size: 28px;}
.navbar{margin-top: 30px;}
.breadcrumb{margin-top: 30px; margin-bottom: 0;}
.button{
background: #689ccb;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
color: #fff;
cursor: pointer;
display: inline-block;
font-size: 14px;
margin-left: 5px;
padding: 8px 18px;
text-transform: capitalize;
}
.button:hover{background:#5b8ab5; color: #fff;}
/*.dropdown.userlistdrop:hover .dropdown-menu {
    display: block;
 }*/
 .dropdown-menu > li > div.user_name {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}
#userlist li .remove-btn{ padding: 5px 2px 0 0;}
.rides_grid button{margin-bottom: 10px;}
.butn_actions .btn-primary{ background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
}
.butn_actions .btn-primary:hover,
.butn_actions .btn-primary:focus,
 .butn_actions .btn-primary:active, 
 .butn_actions .btn-primary.active, 
 .open > .dropdown-toggle.btn-primary {
    background-color: #3071a9;
    border-color: #285e8e;
    color: #fff;
}
.search_results_main table{margin-bottom: 0;}
.mail-container {
    min-height: 400px;
}
.mail-controls {
    border-bottom: 1px solid #efefef;
    padding: 12px 16px;
}


.page-mail .mail-controls .btn-group + .btn-group {
    margin-left: 12px;
}
#page-message-wrapper .btn-group{width: auto;}
#page-message-wrapper .btn, #page-message-wrapper .btn-default, #page-message-wrapper .btn-default:focus, #page-message-wrapper .btn:focus {
    background: linear-gradient(to bottom, #f4f4f4 0px, #eaeaea 100%) repeat-x scroll 0 0 #f4f4f4;
    border-color: #ddd #ddd #cecece;
}
#page-message-wrapper .btn-group .btn-default:hover,
 #page-message-wrapper .btn-group .btn:hover,
  #page-message-wrapper .btn-group.open .btn-default.dropdown-toggle,
   #page-message-wrapper .btn-group.open .btn.dropdown-toggle, 
   #page-message-wrapper .input-group-btn .btn-default:hover,
   #page-message-wrapper  .input-group-btn .btn:hover,
    #page-message-wrapper .input-group-btn.open .btn-default.dropdown-toggle,
     #page-message-wrapper .input-group-btn.open .btn.dropdown-toggle {
    border-color: #d5d5d5 #d5d5d5 #bcbcbc;
}
.mail-controls .pages {
    color: #bbb;
    line-height: 30px;
    margin-right: 13px;
}
.mail-list {
    margin: 16px;
    padding: 0;
}
.mail-item:nth-child(2n-1) {
    background: none repeat scroll 0 0 #f6f6f6;
}
.mail-item {
    padding-left: 220px;
    padding-right: 100px;
    list-style: none outside none;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
     position: relative;
}
.m-chck {
    left: 15px;
    top: 14px;
}
.m-chck, .m-star {
    position: absolute;
}
.px-single {
    font-weight: 400;
    height: 15px;
    margin: 0;
    position: relative;
    width: 15px;
}
.px-single input.px, .px-single input.px + .lbl:after, .px-single input.px + .lbl:before {
    margin: 0 !important;
}
.gt-ie8 input.px {
    left: -1000000px !important;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute !important;
}
.gt-ie8 .theme-default input.px + .lbl:hover:before, .gt-ie8 .theme-default input.px:focus + .lbl:before {
    border-color: #1d89cf;
}
.px-single input.px, .px-single input.px + .lbl:after, .px-single input.px + .lbl:before {
    margin: 0 !important;
}
.gt-ie8 input.px + .lbl:after, .gt-ie8 input.px + .lbl:before {
    margin: 2px 3px -3px -20px !important;
}
.gt-ie8 input.px + .lbl:before {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #bbb;
    box-sizing: border-box;
    content: "";
    cursor: pointer;
    display: block;
    height: 15px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 15px;
}
.m-star {
    left: 40px;
    top: 11px;
}
.m-star a:before {
    content: "";
    font-family: FontAwesome;
}
.m-star a {
    color: #bbb;
    font-size: 15px;
}
.m-star a:hover {
    color: #ffab00;
}
.mail-item.starred .m-star a:before {
    color: #ffab00;
    content: "";
}
.unread .m-from, .page-mail .unread .m-subject {
    font-weight: 700;
}
.m-from, .page-mail .m-subject {
    margin-right: 80px;
}
.m-from a {
    color: #444;
}

.m-subject {
    margin-top: 0;
    overflow: hidden;
}
.page-mail .label {
    position: relative;
    top: -1px;
    vertical-align: middle;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 6px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.page-mail .m-subject a {
    color: #777;
}

.page-mail .m-date {
    color: #aaa;
    position: absolute;
    right: 15px;
    text-align: right;
    top: 12px;
     width: 80px;
}
.page-mail .mail-item {
    list-style: none outside none;
    margin: 0;
    padding: 12px 14px 12px 46px;
    position: relative;
}
.page-mail .m-star {
    left: 15px;
    top: 35px;
}
.page-mail .m-subject {
    margin-top: 5px;
}
.label.label-pa-purple {
    background:#857198;
}
.mail-controls .wide-btns .btn, .mail-controls .btn-toolbar .btn {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    padding: 7px 12px;
}

.page-mail .mail-container-header {
	margin-top:7px;
    border-bottom: 1px solid #efefef;
    display: block;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    padding: 14px 16px;
}
.page-mail .m-details-star, .page-mail .m-details-star > * {
    font-size: 15px;
}
.page-mail .m-details-star > * {
    line-height: 20px;
}
.page-mail .m-details-star {
    color: #ffab00;
    display: block;
    float: left;
    margin-right: 12px;
    position: relative;
    top: 1px;
}
.page-mail .mail-info:after, .page-mail .mail-info:before {
    content: " ";
    display: table;
}
.page-mail .mail-info:after {
    clear: both;
}
.page-mail .mail-info .avatar {
    border-radius: 999999px;
    display: block;
    float: left;
    height: 40px;
    width: 40px;
}
.page-mail .mail-info .from {
    display: block;
    float: left;
    margin-left: 10px;
}
.page-mail .mail-info .name, .page-mail .mail-info .name a {
    color: #555;
    font-size: 14px;
}
.page-mail .mail-info .email, .page-mail .mail-info .email a {
    color: #aaa;
}
.page-mail .mail-info .date {
    color: #aaa;
    display: block;
    float: right;
    font-size: 14px;
    margin-top: 9px;
}
.page-mail .mail-message-body {
    font-size: 14px;
    line-height: 24px;
    padding: 20px 16px;
}
.page-mail .message-details-reply {
    margin: 0 16px 50px;
}
.page-mail .mail-info {
    border-bottom: 1px solid #efefef;
    padding: 14px 16px;
}
.page-mail .btn-primary, .page-mail .btn-primary:focus {
    background: linear-gradient(to bottom, #1e8cd3 0px, #1a7ab9 100%) repeat-x scroll 0 0 #1d89cf !important;
    border-color: #1a7ab9 #1a7ab9 #16689e !important;
    color: #ffffff;
}
.page-mail .btn-primary:active {
    background: none repeat scroll 0 0 #1a7dbd !important;
    border-bottom-color: #146090 !important;
    border-left-color: #146090;
    border-right-color: #146090;
    border-top-color: #146090;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1) inset;
    color: #fff;
}
.page-mail .btn-primary:hover {
    background: linear-gradient(to bottom, #1c83c6 0px, #1871ab 100%) repeat scroll 0 0 #1a7ab9 !important;
    border-color: #1871ab #1871ab #12547e;
    color: #fff;
}
.page-mail .btn, .page-mail .btn-default{color: #555555;}
.page-mail .btn > .fa-caret-down {
    font-size: 12px;
}
.page-mail .new-mail-form {
    margin: 0 0 50px;
    padding: 20px 16px;
}
.tab-content.tab-content-bordered{display: block;}
.prfl_stngs .nav-tabs > li > a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-color: -moz-use-text-color -moz-use-text-color #e4e4e4;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 2px;
    color: #777;
    margin: 0 6px -1px 0;
    padding: 8px 20px;
}
.prfl_stngs .nav-tabs > li.active > a, .prfl_stngs .nav-tabs > li.active > a:focus, .prfl_stngs .nav-tabs > li.active > a:hover {
    background: none repeat scroll 0 0 #1d89cf;
    border-bottom: 2px solid #1a7ab9;
    color: #fff;
}
.tab-content.tab-content-bordered {
      padding: 15px;
 
}
.prfl_stngs .butn_actions{text-align: center;}
/*.select2-search-choice-close{background: url('../images/select2.png') no-repeat scroll right top rgba(0, 0, 0, 0);}*/
.select2-container {
    display: inline-block;
    height: auto !important;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
}
.select2-container-multi .select2-choices {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: #c2c2c2 #d6d6d6 #d6d6d6;
    border-image: none;
    border-radius: 2px;
    border-right: 1px solid #d6d6d6;
    border-style: solid;
    border-width: 1px;
    cursor: text;
    height: auto !important;
    margin: 0;
    overflow: hidden;
    padding: 5px 5px 0 0;
    position: relative;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.select2-primary .select2-container-multi .select2-choices .select2-search-choice, .select2-results .select2-highlighted {
    background: none repeat scroll 0 0 #1d89cf;
}
.select2-container-multi .select2-choices .select2-search-choice {
    -moz-user-select: none;
    border-radius: 2px;
    color: #fff;
    cursor: default;
    display: block;
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 5px 5px;
    padding: 0 20px 0 6px;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    border: 0;
    box-shadow: none;

}
.select2-search-choice-close:before {
    content: "";
}
.select2-search-choice-close {
    color: #fff;
    display: block;
    font-family: FontAwesome;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    outline: 0 none;
    position: absolute;
    right: 3px !important;
    text-align: center;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 14px;
    left: auto;
}
.select2-container-multi .select2-choices .select2-search-field {
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.select2-search-choice-close:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.page-mail .btn-primary{color: #fff;}
.bootstrap-select.btn-group .dropdown-menu li a i.check-mark{display: none;}
.butn_actions span.glyphicon{padding: 0 3px; cursor: pointer;}
.butn_actions span.glyphicon-pencil{color: #666666;}
.butn_actions span.glyphicon-remove{color: #ff4345;}
/*table.table-small-font {
    font-size: 12px;
    line-height: 1.5em;
}*/
.rides_grid thead th:first-child, .rides_grid tbody td:first-child {
    word-wrap: break-word;
    overflow: visible;
}
#cotactus-page label{color: #555; }
.directions{display: table; width: 100%; position:relative;}
th.center-text{text-align: center;}
/*.visibility-dropdown a:hover, .visibility-dropdown a:focus, .visibility-dropdown a:active {background: #5b8ab5; color: #fff;}*/
.visibility-dropdown{background: #5b8ab5; color: #fff; padding: 6px 12px; display: inline-block; border-radius: 3px;}
.visibility-dropdown a{color: #fff}
.visibilty_icons{margin-right: 10px;}
.userlistdrop a{text-align: center; vertical-align: middle; display: table-cell;}








/* media queries starts */
@media (min-width: 1200px) {
  .container {
    width:1315px;
  }
}
@media (max-width: 1075px) {
	.ride_form {
		margin-top: 5px;
	}
	.ride_form input[type="text"], .ride_form select {
		margin-bottom: 10px;
	}	
}

@media (max-width: 980px) {
	.footer_links ul {
		margin: 0;
	}
	.footer_links, .follow_us {
		margin: 0;
		border:none;
	}
	.news_letter_main input[type="text"] {
		width: 63%;
	}
	
	.finda_ride_steps {
		text-align: center;
	}
	.finda_ride_steps img {
		width: inherit;
	}
	.find_ride_main {
		min-height: inherit;
	}
}
@media (max-width: 980px) {
	.recent_post_main .tpad10 .street_name {
		width: 45%;
	}
	.recent_post_main .tpad10 .street_name:last-child {
		float: right;
	}
}	
@media (max-width: 1075px) {
	.form-group.chlbx1{
		margin-bottom: 0px;
	}

}
@media (min-width: 992px) {
	.page-mail .mail-controls .wide-btns .btn {
    display: inline-block;
    text-align: center;
    width: 60px;
}

.page-mail .mail-item {
    padding-left: 220px;
    padding-right: 100px;
}
.page-mail .m-star {
    left: 40px;
    top: 11px;
}
.page-mail .m-subject {
    margin-top: 0;
    overflow: hidden;
}
.page-mail .m-date {
    width: 150px;
}
.page-mail .m-from {
    left: 70px;
    overflow: hidden;
    position: absolute;
    width: 140px;
}
}
@media (max-width: 767px) {
	.rides_grid button {
    margin-bottom: 0px;
    margin-right: 10px;
}
	
}
@media (min-width: 768px) {
	.left-sidebar .navbar-collapse{
		padding-left:0;
		padding-right: 0;
	 }
	 .left-sidebar .navbar-nav > li{float: none;}
	 .left-sidebar .navbar-nav{float: none;}
	 .page-mail .mail-controls {
    border-bottom: 1px solid #efefef;
    padding: 12px 16px;
}
.page-mail .mail-controls .btn-group + .btn-group {
    margin-left: 12px;
}
.page-mail .mail-controls .btn {
    font-size: 14px;
    line-height: 14px;
}
.page-mail .mail-controls .btn .fa-caret-down {
    position: relative;
    top: -1px;
}
.page-mail .mail-controls .pages {
    color: #bbb;
    line-height: 30px;
    margin-right: 13px;
}
}
@media (max-width: 640px) {
	.logo img, .finda_ride_steps img{ width: 80%; }
	.logo, .post_ride, .login_register, .finda_ride_steps {
		text-align: center;
	}
}	
@media (max-width: 360px) {
	.l_r_arrow {
		width: 100%;
	}
	.recent_post_main .tpad10 .street_name {
		width: 100%;
		text-align: center;
	}
	.photo-label{ line-height: normal;}
	.button.upload_pic_btn{margin-left: 0; margin-top: 5px;}
	.details-types a.btn{font-size: 12px; padding: 6px 10px;}

	.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn).tooltip-parent{ width: 87%;}
}
@media (max-width: 360px) {
	.btn-toolbar.wide-btns{margin-bottom: 10px;}
}
@media (max-width: 480px) {
	.reg_main .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn).tooltip-parent{ width: 85%;}
}

@media all and (max-width: 980px) and (min-width: 768px) {
	.finda_ride_steps img {
		width: 40%;
		margin-bottom: 10px;
	}
	
}	